#summary {
    margin-left: 50px;
    list-style-type: circle;
}


.splitcontainer {
    width:70%;
    display:grid;
    padding:2%;
    grid-template-columns: auto auto auto;

}

.splitcontainer div {
    padding:4%;
    margin:2%;
}


.d_left {
    float:left;
}
.d_right {
    
    margin:2%;
    float:right;
}

.container{
    
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 3rem;
}