#summary {
    margin-left: 50px;
    list-style-type: circle;
}


.splitcontainer {
    width:70%;
    display:grid;
    padding:2%;
    grid-template-columns: auto auto auto;

}

.splitcontainer div {
    padding:4%;
    margin:2%;
}


.d_left {
    float:left;
}
.d_right {
    
    margin:2%;
    float:right;
}
.imgcontainer{
    margin-left: 30%;
}
.backToTop {
    text-decoration: none;
    align-content: center;
    color:darkslateblue;
}